<div class="col-md-12">
  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Angular & Bootstrap</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <button type="button" class="btn btn-primary" routerLink="/customer">Customers</button>
        <button class="btn btn-success mr-1 .px-2" routerLink="/product">Products</button>
        <button class="btn btn-primary mr-1" routerLink="">Home</button>
      </div>
    </div>

  </nav>
</div>

<form autocomplete="off">
  <div class="container-alignment">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-12 col-sm-10">
        <div class="card px-3 container-height">
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <div class="add-items d-flex"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row" style="display: block">
  <app-child1 class="col-md-6"></app-child1>
  <app-child2></app-child2>
</div>





<router-outlet></router-outlet>